.img-responsive,
img.responsive {
  max-width: 100%;
}
.hidden {
  display: none;
}

#user-info {
  display: none;
}
#user-info.active {
  margin-top: 1em;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  padding-top: 15px;
}

img.brand-logo {
  vertical-align: top;
  display: inline;
  border: none;
  outline: none;
  max-height: 100px;
}

.clearfix {
  clear: both;
}

.container {
  display: block;
  max-width: 1200px; 
  margin-left: -1em;
  margin-right: -1em;
}

ul.navigation {
  margin: -1em -1em 30px -1em;
  background-color: #ffffff;
  text-align: center;
  border-bottom: solid 1px #ddd;
  padding: 0;
}

ul.navigation > li,
ul.navigation {
  list-style-type: none !important;
}

ul.navigation > li {
  display: block;
  padding: 15px 25px;
  font-size: 18px;
  margin: 0 0 5px 0;
}

ul.navigation > li:last-child {
  margin: 0 0 0 0;
}

ul.navigation > li,
ul.navigation > li a {
  text-decoration: none;
  color: #7c891b;
}

ul.navigation > li:focus,
ul.navigation > li:hover,
ul.navigation > li.active {
  background-color: #7c891b; 
}

ul.navigation > li:focus a,
ul.navigation > li:hover a,
ul.navigation > li.active a {
  text-shadow: 0 1px 0 #4e4e4e;
  color: #ffffff;
}

.bg-white {
  background-color: white;
}

.home-content-block {
  margin-bottom: 15px;
  padding: 15px;
  box-shadow: 1px 1px 4px rgba(51,51,51,0.39);
}

.side-padding {
  padding-left: 15px;
  padding-right: 15px;
}

.section-header {
  text-align: center;
}

@media (min-width: 561px){
  .home-content-block {
    margin-bottom: none;
  }

  ul.navigation > li {
    display: inline-block;
    margin: 0 0 0 0;
  }

  .container {
    padding: 15px;
    margin: auto;
  }
}

@media (min-width: 650px){
  div[class^="ui-block-"],
  div[class*=" ui-block-"] {
    padding-left: 15px;
    padding-right: 15px;
  }
}
